/* body {
  background-color: #272829;
      /* width: auto;   */
    /* height: 100px;   */
     /* }  */ */

.page-container {
  background-color: #171718;
    width: auto;  
    height: 120vh;
  }


.text-container {
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 80;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute; 
    margin-top: 350px;
    margin-left: 150px;   
    z-index: 2;
    color: white;
    
}

.custom-button {
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 450px; 
    margin-left: 350px;
    background: linear-gradient(45deg, rgb(23, 25, 24), #020202c9); /* Gradient background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px; /* Font size */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    transition: background 0.5s ease;
    
    position: relative;
    z-index: 2;
}

.custom-button:hover,
.custom-button:active {
    background: linear-gradient(45deg, rgb(16, 171, 18), rgb(24, 8, 8)); /* Darker gradient on hover/click */
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.8);  
}

.bulb-container {
    width: 500px;
    margin-top: 200px;
    margin-left: 500px;
    position: absolute;
    z-index: 1;
}



.cloud-container {
    margin-left: 650px;
    margin-top: 100px;
    position: absolute;
    z-index: 3;
    
}
@keyframes moveCloud {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px); /* Adjust this value to move the cloud to the desired location */
    }
  }
  
  .cloud-container {
    animation: moveCloud 4s linear infinite; /* Adjust the animation duration as needed */
  }
  .clou-container {
    animation: moveCloud 3s infinite alternate; /* Adjust the animation duration as needed */
  }

.clou-container {
    margin-left: 400px;
    margin-top: 150px;
    position: absolute;
}

.thunder {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), #ffcc00, rgba(255, 255, 255, 0));
    opacity: 0;
    animation: thunderAnimation 0.5s linear forwards;
}

@keyframes thunderAnimation {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

